<template>
  <div class="about">
    <van-nav-bar title="关于我们" fixed left-arrow
      @click-left="back"
    >
    </van-nav-bar>
    <div class="logo">
      <img :src="logo" alt="logo">
    </div>
    <ul>
      <li>微信订阅<span>17805813280</span></li>
      <li>新浪微博<span>杭州上方谷智能科技有限公司</span></li>
      <li>邮箱<span>1820350989@qq.com</span></li>
      <li>Students To students 是通过大学生与中小学生相互联系的方式，帮助更多的孩子get到真正的兴趣，实现天下为公的素质教育</li>
    </ul>
  </div>
</template>

<script>
import { IMG } from '@/utils/config'
export default {
  name: 'About',
  data () {
    return {
      logo: `${IMG}/assets/logo.jpg`
    }
  },
  methods: {
    back () {
      this.$router.go(-1)
    }
  }
}
</script>

<style lang="scss">
.about {
  padding: 46px 20px 20px 20px;
  background: #f2f2f2;
  min-height: 100vh;
  .van-nav-bar .van-icon {
    color: $themeColor;
  }
  .logo {
    text-align: center;
    margin: 20px 0;
    img {
      width: 100px;
      height: 50px;
    }
  }
  ul {
    background: #fff;
    border-radius: 4px;
    padding: 10px 5px;
  }
  li {
    border-bottom: 1px solid #ddd;
    padding: 10px 5px;
    span {
      color: #555;
      margin-left: 5px;
    }
  }
  li:last-child {
    border: none;
  }
}
</style>
