<template>
  <div class="account">
    <van-nav-bar title="我的账户" fixed left-arrow
      @click-left="back"
    >
    </van-nav-bar>
  </div>
</template>

<script>
export default {
  name: 'Account',
  data () {
    return {}
  },
  methods: {
    back () {
      this.$router.go(-1)
    }
  }
}
</script>

<style lang="scss">
.account {
  .van-nav-bar .van-icon {
    color: $themeColor;
  }
}
</style>
