<template>
  <div class="check" v-if="check">
    <van-nav-bar title="审核状态" fixed left-arrow
      @click-left="back"
    >
    </van-nav-bar>
    <div class="checkbox">
      <i :class="'iconfont icon-'+check.icon"></i>
      <p>{{check.label}}</p>
    </div>
  </div>
</template>

<script>
const list = {
  '1': {icon: 'checking', label: '审核中'},
  '-1': {icon: 'checkfail', label: '被冻结'},
  '2': {icon: 'checked', label: '审核通过'},
  '3': {icon: 'checked', label: '审核通过'}
}
export default {
  name: 'Check',
  data () {
    return {
      type: '1'
    }
  },
  mounted () {
    this.type = `${this.$route.params.freeze}`
  },
  computed: {
    check () {
      return list[this.type]
    }
  },
  methods: {
    back () {
      this.$router.go(-1)
    }
  }
}
</script>

<style lang="scss" scoped>
.check {
  padding: 46px 20px 20px 20px;
  background: #f2f2f2;
  min-height: 100vh;
  position: relative;
}
.checkbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  i {
    font-size: 50px;
  }
  p {
    font-size: 24px;
    margin-top: 20px;
  }
}
</style>
