<template>
  <div class="comment">
    <van-nav-bar title="订单评价" fixed left-arrow
      @click-left="back"
    >
      <template slot="right">
        <span v-if="loading">提交中...</span>
        <span v-else @click="submit">发布</span>
      </template>
    </van-nav-bar>

    <div class="rate-box">
      <ul>
        <li><span>总体评分</span><van-rate v-model="level" /></li>
        <!-- <li><span>讲课风格</span><van-rate v-model="value2" /></li> -->
        <!-- <li><span>满意度</span><van-rate v-model="value3" /></li> -->
      </ul>
    </div>

    <textarea cols="30" rows="10"
      placeholder="服务是否满足您的期待，简单说说好的地方！提出您的建议"
      v-model="words"
    >
    </textarea>

  </div>
</template>

<script>
import { Toast } from 'vant'
import API from '@/utils/api'
export default {
  name: 'Comment',
  data () {
    return {
      loading: false,
      level: -1,
      words: '',
      role: parseInt(localStorage.getItem('role')),
      dealID: 0
    }
  },
  mounted () {
    this.dealID = this.$route.params.id
  },
  methods: {
    back () {
      this.$router.go(-1)
    },
    verify () {
      if (this.level === -1 || !this.words) {
        this.$toast('还没有做出评价哦，不能提交哦')
        return false
      }
      return true
    },
    submit () {
      if (!this.verify() || this.loading) return
      this.loading = true
      let params = null
      if (this.role === 1) {
        params = { parWords: this.words, parLevel: this.level, dealID: this.dealID }
      } else {
        params = { stuWords: this.words, stuLevel: this.level, dealID: this.dealID }
      }
      this.axios.get(API[this.role].comment, { params }).then(data => {
        this.loading = false
        Toast('发表成功~')
      }).catch(e => {
        this.loading = false
      })
    }
  }
}
</script>

<style lang="scss">
.comment {
  padding-top: 46px;
  background: #f2f2f2;
  min-height: 100vh;
  font-size: 14px;
  .van-nav-bar .van-icon {
    color: $themeColor;
  }
  .info {
    background: #fff;
    padding: 10px 0;
    .info-img {
      text-align: right;
      padding-right: 10px;
    }
    img {
      width: 40px;
      height: 40px;
      border-radius: 100%;
    }
    p {
      line-height: 20px;
    }
    span {
      color: #555;
      display: inline-block;
    }
  }
  textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
  }
  .rate-box {
    background: #fff;
  }
  li {
    display: flex;
    align-items: center;
    padding: 10px;
    span {
      width: 70px;
    }
  }
  textarea {
    border: none;
  }
}
</style>
