<template>
  <div class="course-detail" v-if="type">
    <van-nav-bar title="资料查看" fixed left-arrow
      @click-left="back"
    >
    </van-nav-bar>
    <van-cell-group v-if="type">
      <van-cell :title="item" v-for="item in list" :key="item">
        <a :href="'http://39.104.177.154/sts/course/'+suffix+item+'.docx'" download>
          <i class="iconfont icon-down1" slot="right-icon"></i>
        </a>
      </van-cell>
    </van-cell-group>
  </div>
</template>

<script>
import COURSE from '@/utils/course.json'
export default {
  name: 'Course',
  data () {
    return {
      type: '',
      suffix: ''
    }
  },
  mounted () {
    // const downloadAble = 'download' in document.createElement('a')
    // alert(downloadAble)
    this.type = this.$route.query.type
    this.suffix = `${this.$route.query.prefix}/`
  },
  computed: {
    list () {
      return COURSE[this.type]
    }
  },
  methods: {
    back () {
      this.$router.go(-1)
    }
    // download () {
    //   fetch('https://img.yzcdn.cn/upload_files/2017/03/15/FkubrzN7AgGwLlTeb1E89-T_ZjBg.png').then(res => res.blob().then(blob => {
    //     var a = document.createElement('a')
    //     var url = window.URL.createObjectURL(blob)
    //     var filename = 'myfile.png'
    //     a.href = url
    //     a.download = filename
    //     a.click()
    //     window.URL.revokeObjectURL(url)
    //   }))
    // },
    // download1 () {
    //   fetch('https://img.yzcdn.cn/upload_files/2017/03/15/FkubrzN7AgGwLlTeb1E89-T_ZjBg.png').then(res => {
    //     if (res.status === 200) {
    //       var a = document.createElement('a')
    //       var url = 'https://img.yzcdn.cn/upload_files/2017/03/15/FkubrzN7AgGwLlTeb1E89-T_ZjBg.png'
    //       var filename = 'myfile.png'
    //       a.href = url
    //       a.download = filename
    //       a.click()
    //     } else {
    //       alert('You have no permission to download the file!')
    //     }
    //   })
    // }
  }
}
</script>

<style lang="scss">
.course-detail {
  padding-top: 46px;
  background: #f2f2f2;
  min-height: 100vh;
  .van-nav-bar .van-icon {
    color: $themeColor;
  }
  .iconfont {
    color: $themeColor;
    font-size: 18px;
  }
}
</style>
