<template>
  <div class="course">
    <van-nav-bar title="课程资料" fixed left-arrow
      @click-left="back"
    >
    </van-nav-bar>
    <p class="title">初中</p>
    <van-row style="marginBottom: 40px;">
      <van-col span="8" class="item item-right">
        <router-link :to="{name: 'CourseDetail', query:{type: 'j-1', prefix: '初中/初一'}}">初一</router-link>
      </van-col>
      <van-col span="8" class="item item-right">
        <router-link :to="{name: 'CourseDetail', query:{type: 'j-2', prefix: '初中/初二'}}">初二</router-link>
      </van-col>
      <van-col span="8" class="item">
        <router-link :to="{name: 'CourseDetail', query:{type: 'j-3', prefix: '初中/初三'}}">初三</router-link>
      </van-col>
    </van-row>
    <p class="title">小学</p>
    <van-row style="marginBottom: 10px;">
      <van-col span="8" class="item item-right">
        <router-link :to="{name: 'CourseDetail', query:{type: 'p-1', prefix: '小学/一年级'}}">一年级</router-link>
      </van-col>
      <van-col span="8" class="item item-right">
        <router-link :to="{name: 'CourseDetail', query:{type: 'p-2', prefix: '小学/二年级'}}">二年级</router-link>
      </van-col>
      <van-col span="8" class="item">
        <router-link :to="{name: 'CourseDetail', query:{type: 'p-3', prefix: '小学/三年级'}}">三年级</router-link>
      </van-col>
    </van-row>
    <van-row>
      <van-col span="8" class="item item-right">
        <router-link :to="{name: 'CourseDetail', query:{type: 'p-4', prefix: '小学/四年级'}}">四年级</router-link>
      </van-col>
      <van-col span="8" class="item item-right">
        <router-link :to="{name: 'CourseDetail', query:{type: 'p-5', prefix: '小学/五年级'}}">五年级</router-link>
      </van-col>
      <van-col span="8" class="item">
        <router-link :to="{name: 'CourseDetail', query:{type: 'p-6', prefix: '小学/六年级'}}">六年级</router-link>
      </van-col>
    </van-row>
  </div>
</template>

<script>
// import { IMG } from '@/utils/config'
export default {
  name: 'Course',
  data () {
    return {
    }
  },
  methods: {
    back () {
      this.$router.go(-1)
    }
  }
}
</script>

<style lang="scss">
.course {
  padding: 46px 15px 0 15px;
  background: #f2f2f2;
  min-height: 100vh;
  .van-nav-bar .van-icon {
    color: $themeColor;
  }
  .title {
    font-weight:400;
    margin:15px 5px;
    padding-left: 8px;
    border-left: 2px solid $themeColor;
  }
  .item {
    background: #fff;
    text-align: center;
  }
  .item-right {
    border-right: 8px solid #f2f2f2;
  }
  a {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #222;
  }
}
</style>
