<template>
  <div class="feedback">
    <van-nav-bar title="反馈" fixed left-arrow
      @click-left="back"
    >
    </van-nav-bar>
    <textarea
      cols="20" rows="10"
      placeholder="请输入反馈内容"
      v-model="content"
    >
    </textarea>
    <van-button
      type="danger"
      size="large"
      class="submit-btn"
      @click.native="submit"
      :loading="loading"
    >
      提交
    </van-button>
    <p>客服电话：17805813280</p>
  </div>
</template>

<script>
import API from '@/utils/api'
import { Toast } from 'vant'
export default {
  name: 'Feedback',
  data () {
    return {
      content: '',
      loading: false
    }
  },
  methods: {
    back () {
      this.$router.go(-1)
    },
    submit () {
      if (!this.content) {
        this.$toast('还没输入反馈信息哦')
        return
      }
      if (this.loading) return
      this.loading = true
      this.axios.get(API.suggest, {
        params: {content: this.content}
      }).then(data => {
        this.loading = false
        this.content = ''
        Toast('提交成功')
      }).catch(e => {
        this.loading = false
      })
    }
  }
}
</script>

<style lang="scss">
.feedback {
  background: #f2f2f2;
  min-height: 100vh;
  padding: 46px $pageGutter $pageGutter $pageGutter;
  textarea {
    width: 100%;
    border-radius: 4px;
    border: none;
    margin-top: 15px;
    padding: 10px;
  }
  .van-nav-bar .van-icon {
    color: $themeColor;
  }
  .submit-btn {
    margin: 15px 0;
  }
}
</style>
