<template>
  <div class="home content" v-if="role">
    <van-nav-bar title="Sts家教" fixed left-text="家长端" v-if="role === 2"/>
    <van-nav-bar title="Sts家教" fixed left-text="老师端" v-if="role === 1"/>

    <van-swipe :autoplay="3000">
      <van-swipe-item v-for="item in images" :key="item">
        <img :src="item" alt="图片">
      </van-swipe-item>
    </van-swipe>

    <div class="container">

      <stu-tab v-if="role === 1" />
      <par-tab v-if="role === 2" />

      <!-- 入驻 -->
      <img class="ruzhu" :src="ruzhu" />

      <!-- 其他服务 -->
      <div class="other">
        <van-row>
          <van-col
            span="12"
            class="van-hairline--right other-item"
          >
            <router-link to="/about" tag="span">加盟我们</router-link>
          </van-col>
          <van-col span="12" class="other-item">
            <router-link to="/feedback" tag="span">联系客服</router-link>
          </van-col>
        </van-row>
      </div>

    </div>

    <tabbar />

  </div>
</template>

<script>
import Tabbar from '@/components/Tabbar'
import StuTab from '@/components/StuTab'
import ParTab from '@/components/ParTab'
import { IMG } from '@/utils/config'
export default {
  name: 'Home',
  data () {
    return {
      role: 0, // 用户角色
      images: [
        'https://img.yzcdn.cn/public_files/2017/09/05/fd08f07665ed67d50e11b32a21ce0682.jpg',
        'https://img.yzcdn.cn/2.jpg'
      ]
    }
  },
  computed: {
    ruzhu () {
      return `${IMG}/assets/ruzhu.jpg`
    }
  },
  mounted () {
    // 没有选择类型，就跳转到欢迎页
    const role = localStorage.getItem('role')
    if (!role) {
      this.$router.push({name: 'Welcome'})
    } else {
      this.role = parseInt(role)
    }
  },
  components: { Tabbar, StuTab, ParTab }
}
</script>

<style lang="scss" scoped>
.home {
  background: #f2f2f2;
  padding: 46px 0 80px 0;
}
.container {
  padding: 0 $pageGutter;
}
img {
  width: 100%;
  height: 200px;
}
// 入驻
.ruzhu {
  width: 100%;
  border-radius: 4px;
  height: 100px;
  margin: 10px 0;
}
// 其他
.other {
  background: #fff;
  border-radius: 4px;
}
.other-item {
  padding: 15px 0;
  text-align: center;
}
</style>
