<template>
  <div class="login">
    <van-nav-bar title="登录" fixed left-arrow
      @click-left="back"
      @click-right="switchRole"
    >
      <i class="iconfont icon-par" slot="right" v-if="role === 2"></i>
      <i class="iconfont icon-stu" slot="right" v-if="role === 1"></i>
    </van-nav-bar>
    <div class="logo">
      <img :src="logo" alt="logo">
    </div>

    <div class="form">
      <li>
        <i class="iconfont icon-people"></i>
        <input type="text" placeholder="请输入用户名／手机号" v-model="form.loginName">
      </li>
      <li>
        <i class="iconfont icon-lock"></i>
        <input type="password" placeholder="请输入密码" v-model="form.password">
      </li>
      <van-button type="danger" size="large" @click.native="login" :loading="loading">登录</van-button>
      <div class="bottom">
        <span>没有账号？
          <strong><router-link to="/register" tag="span">点此注册</router-link></strong>
        </span>
        <span><router-link to="/forget" tag="span">忘记密码</router-link></span>
      </div>
    </div>
  </div>
</template>

<script>
import API from '@/utils/api'
import { Toast } from 'vant'
import { IMG } from '@/utils/config'
export default {
  name: 'Login',
  data () {
    return {
      role: 0,
      form: {
        loginName: '',
        password: ''
      },
      loading: false
    }
  },
  computed: {
    logo () {
      return `${IMG}/assets/logo.jpg`
    }
  },
  mounted () {
    // 没有选择类型，就跳转到欢迎页
    const role = localStorage.getItem('role')
    if (!role) {
      this.$router.push({name: 'Welcome'})
    } else {
      this.role = parseInt(role)
    }
  },
  // beforeRouteLeave: (to, from, next) => {
  //   if (to.name === 'Welcome') {
  //     localStorage.setItem('role', 0)
  //   }
  // },
  methods: {
    back () {
      this.$router.go(-1)
    },
    validate () {
      if (!this.form.loginName) {
        Toast('用户名或手机号不能为空')
        return false
      }
      if (!this.form.password) {
        Toast('密码不能为空')
        return false
      }
      return true
    },
    login () {
      if (!this.validate()) return
      this.loading = true
      this.axios.get(API[this.role].login, {
        params: {...this.form}
      }).then(data => {
        this.loading = false
        this.getUser()
        // this.$toast({message: e, duration: 0})
      }).catch(e => {
        this.loading = false
      })
    },
    switchRole () {
      let role = this.role === 1 ? 2 : 1
      this.role = role
      localStorage.setItem('role', role)
    },
    getUser () {
      this.axios.get(API[this.role].getUser).then(data => {
        localStorage.setItem('user', JSON.stringify(data))
        this.$router.push({name: 'Home'})
      })
    }
  }
}
</script>

<style lang="scss" scoped>
$gutter: 15px;
.login {
  padding: 46px $pageGutter $pageGutter $pageGutter;
  background: #f2f2f2;
  min-height: 100vh;
  .logo {
    text-align: center;
    margin: 20px 0;
  }
  img {
    width: 100px;
    height: 50px;
  }
  li {
    display: flex;
    background: #fff;
    border-radius: 4px;
    margin-bottom: $gutter;
    height: 40px;
    padding: 0 10px;
    i {
      line-height: 40px;
    }
  }
  input {
    border: none;
    flex: 1;
    margin: 10px 0 10px 4px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
  }
  .bottom {
    margin-top: $gutter;
    display: flex;
    justify-content: space-between;
  }
  strong {
    color: $themeColor;
    font-weight: normal;
  }
  .iconfont {
    font-size: 16px;
  }
}
</style>
