<template>
  <div class="me">
    <van-nav-bar title="我" fixed></van-nav-bar>

    <div class="container">

      <template v-if="user">
        <me-stu v-if="role === 1" :user="user" />
        <me-par v-if="role === 2" :user="user" />
      </template>

      <van-cell-group style="margin-bottom: 20px;">
        <van-cell title="修改信息" icon="edit" is-link to="/profile" v-if="role === 1" />
        <van-cell title="修改信息" icon="edit" is-link to="/parent/profile" v-else />
        <van-cell title="我的历史" icon="records" is-link to="order" v-if="role === 1"  />
        <van-cell title="我的历史" icon="records" is-link to="parOrder" v-else />
        <van-cell title="投诉建议" icon="completed" is-link to="feedback" />
        <van-cell title="修改密码" icon="edit-data" is-link to="forget" />
        <!-- <van-cell title="我的账户" icon="after-sale" is-link to="account" /> -->
      </van-cell-group>
    </div>

    <van-cell-group>
      <van-cell>
        <div class="logout" slot="title" @click="logout">
          退出登录
        </div>
      </van-cell>
    </van-cell-group>

    <tabbar />
  </div>
</template>

<script>
import Tabbar from '@/components/Tabbar'
import API from '@/utils/api'
import MeStu from '@/components/MeStu'
import MePar from '@/components/MePar'
export default {
  name: 'Me',
  data () {
    return {
      role: parseInt(localStorage.getItem('role')),
      active: 2,
      checked: true,
      user: null
    }
  },
  mounted () {
    this.user = JSON.parse(localStorage.getItem('user'))
  },
  computed: {
    isFreeze () {
      if (!this.user) return 0
      return this.user.freeze === 2 ? 1 : 0
    }
  },
  components: { Tabbar, MeStu, MePar },
  methods: {
    logout () {
      this.axios.get(API.logout).then(data => {
        localStorage.clear()
        this.$router.push({name: 'Welcome'})
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.me {
  background: #f2f2f2;
  min-height: 100vh;
  padding: 46px 0 50px 0;
}
.logout {
  text-align: center;
}
</style>
