<template>
  <div class="order">
    <div class="container">
      <van-tabs v-model="status" sticky>
        <van-tab
          v-for="item in orderMenu" :title="item"
          :key="item"
        >
          <div class="tab-content">
            <van-pull-refresh v-model="loading" @refresh="onRefresh" style="minHeight: 100vh;">
              <p v-if="list.length === 0">暂无数据</p>
              <order-item
                :order="order"
                v-else
                v-for="order in list"
                :key="order.dealID"
                @operate="operate"
              />
            </van-pull-refresh>
          </div>
        </van-tab>
      </van-tabs>
    </div>

    <tabbar />
  </div>
</template>

<script>
import OrderItem from '@/components/OrderItem.vue'
import Tabbar from '@/components/Tabbar'
import API from '@/utils/api'
export default {
  name: 'Order',
  data () {
    return {
      orderMenu: ['待抢单', '进行中', '已完成'],
      status: 0, // 订单状态
      result1: [],
      result2: [],
      loading: false
    }
  },
  computed: {
    list () {
      let status = this.status
      return this[`list${status}`]
    },
    list0 () {
      return this.result.filter(item => {
        return item.dealStatus === 0
      })
    },
    list1 () {
      return this.result.filter(item => {
        return item.dealStatus === 1
      })
    },
    list2 () {
      return this.result.filter(item => {
        return item.dealStatus === 2
      })
    },
    result () {
      const result = this.result1.concat(this.result2)
      return result.map(function (item, idx) {
        return { ...item, idx }
      })
    }
  },
  mounted () {
    this.getMyOrders()
    this.getMatchOrders()
  },
  methods: {
    onRefresh () {
      this.loading = true
      this.getData()
    },
    getData () {
      if (this.status) {
        this.getMyOrders()
      } else {
        this.getMatchOrders()
      }
    },
    // 获取匹配订单
    getMatchOrders () {
      this.axios.get(API[1].getMatchOrders).then(data => {
        this.loading = false
        this.result1 = data
      }).catch(e => {
        this.loading = false
      })
    },
    // 获取我的订单
    getMyOrders () {
      this.axios.get(API[1].getMyOrders).then(data => {
        this.loading = false
        this.result2 = data
      }).catch(e => {
        this.loading = false
      })
    },
    // 数据同步
    operate (idx, status) {
      const len = this.result1.length
      if (idx < len) {
        let order = this.result1[idx]
        order.dealStatus = status
        this.$set(this.result1, idx, order)
      } else {
        let order = this.result1[idx]
        order.dealStatus = status
        this.$set(this.result2, idx - len, order)
      }
    }
  },
  components: {
    OrderItem,
    Tabbar
  }
}
</script>

<style lang="scss" scoped>
.order {
  background: #f2f2f2;
  min-height: 100vh;
  padding: 0 0 50px 0;
}
.tab-content {
  padding: $pageGutter;
  p {
    text-align: center;
  }
}
</style>
