<template>
  <div class="order-detail" v-if="order">
    <van-nav-bar title="订单详情" fixed left-arrow
      @click-left="back"
    >
    </van-nav-bar>

    <!-- 用户信息 -->
    <stu-card v-if="role === 2 && order.stuUserID" :userId="order.stuUserID" />
    <par-card v-if="role === 1 && order.parUserID" :userId="order.parUserID" />

    <!-- 评价框 -->
    <div class="rate" v-if="role === 2 && order.parLevel">
      <van-row class="rate-item">
        <van-col span="4">评分:</van-col>
        <van-col span="20" class="grade">{{order.parLevel}}分</van-col>
      </van-row>
      <van-row class="rate-item">
        <van-col span="4">评语:</van-col>
        <van-col span="20">{{order.parWords}}</van-col>
      </van-row>
    </div>

    <div class="rate" v-if="role === 1 && order.stuLevel">
      <van-row class="rate-item">
        <van-col span="4">评分:</van-col>
        <van-col span="20" class="grade">{{order.stuLevel}}分</van-col>
      </van-row>
      <van-row class="rate-item">
        <van-col span="4">评语:</van-col>
        <van-col span="20">{{order.stuWords}}</van-col>
      </van-row>
    </div>

    <!-- 订单信息 -->
    <van-cell-group>
      <van-cell title="授课科目" :value="order.lesson" />
      <van-cell title="授课年级" :value="order.grade" />
      <van-cell title="授课时间" value="周一,周二,周三" />
      <van-cell title="老师要求" :value="order.sex" />
      <van-cell title="价格" :value="'¥'+order.price+'/小时'" />
      <van-cell title="其他说明" :value="order.dealRequire" />
    </van-cell-group>

    <!-- 底部按钮 -->
    <van-button
      type="primary"
      bottom-action
      class="btn"
      v-if="status === 0 && role === 1"
      @click.native="rushDeal"
    >
      立即抢单
    </van-button>
    <van-button
      type="primary"
      bottom-action
      class="btn"
      v-if="status === 0 && role === 2"
      @click.native="delDeal"
    >
      删除订单
    </van-button>
    <template v-if="status === 2 && role === 1">
      <van-button
        type="primary"
        bottom-action
        class="btn"
        @click.native="comment"
        v-if="!order.parWords"
      >
        评价订单
      </van-button>
      <van-button
        bottom-action
        class="btn"
        type="primary"
        v-else
      >
        已评价
      </van-button>
    </template>
    <template v-if="status === 2 && role === 2">
      <van-button
        type="primary"
        bottom-action
        class="btn"
        @click.native="comment"
        v-if="!order.stuWords"
      >
        评价订单
      </van-button>
      <van-button
        type="primary"
        bottom-action
        class="btn"
        v-else
      >
        已评价
      </van-button>
    </template>
    <van-button
      type="primary"
      bottom-action
      class="btn"
      @click.native="endDeal"
      v-if="status === 1 && role === 2"
    >
      结束订单
    </van-button>
    <van-button
      type="primary"
      bottom-action
      class="btn"
      v-if="status === 1 && role === 1"
    >
      进行中
    </van-button>
  </div>
</template>

<script>
import StuCard from '@/components/StuCard'
import ParCard from '@/components/ParCard'
import API from '@/utils/api'
export default {
  name: 'OrderDetail',
  data () {
    return {
      role: parseInt(localStorage.getItem('role')),
      order: null,
      status: 0
    }
  },
  components: { StuCard, ParCard },
  mounted () {
    this.order = this.$route.params.order
    this.status = this.$route.params.order.dealStatus
  },
  methods: {
    back () {
      this.$router.go(-1)
    },
    comment () {
      this.$router.push({ name: 'Comment',
        params: { id: this.order.dealID }
      })
    },
    // 学生抢单
    rushDeal () {
      const stuUserID = parseInt(JSON.parse(localStorage.getItem('user')).stuUserID)
      this.axios.get(API[1].rushDeal, {
        params: {stuUserID, dealID: this.order.dealID}
      }).then(data => {
        // 抢单成功后，改变状态为进行中
        this.$toast('抢单成功')
        this.status = 1
        this.$emit('operate', this.order.idx, 1)
      })
    },
    // 家长删除订单
    delDeal () {
      this.axios.get(API[2].delDeal, {
        params: {dealID: this.order.dealID}
      }).then(data => {
        this.$toast('删除成功')
        this.$emit('operate', this.order.idx)
        this.$router.go(-1)
      })
    },
    // 家长结束订单
    endDeal () {
      this.axios.get(API[2].endDeal, {
        params: {dealID: this.order.dealID}
      }).then(data => {
        this.status = 2
        this.$toast('已结束订单')
        this.$emit('operate', this.order.idx, 2)
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.order-detail {
  padding: 46px 0 60px 0;
  min-height: 100vh;
  background: #f2f2f2;
  .btn {
    position: fixed;
    bottom: 0;
  }
}
.rate {
  background: #ffff;
  margin-bottom: 10px;
  padding: 15px;
}
.rate-item {
  padding: 5px 0;
}
.grade {
  color: #faad14;
  font-weight: bold;
}
</style>
