<template>
  <div class="profile">
    <van-nav-bar title="修改信息" fixed left-arrow
      @click-left="back"
    >
      <template slot="right">
        <span v-if="loading">提交中...</span>
        <span v-else @click="submit">完成</span>
      </template>
    </van-nav-bar>
    <!-- 表单 -->
    <van-cell-group>
      <van-cell>
        <div class="cell-box" slot="title">
          <span class="van-cell-text">头像</span>
          <van-uploader
            :after-read="(file) => onRead(file, 'Avatar')"
            accept="image/gif, image/jpeg" multiple
          >
            <img :src="IMG+'/'+other.Avatar" alt="avatar" class="avatar" v-if="other.Avatar">
            <van-icon name="photograph" v-else />
          </van-uploader>
        </div>
      </van-cell>

      <!-- 真实姓名 -->
      <van-field
        v-model="form.trueName"
        label="真实姓名"
        placeholder="请填写您的真实姓名"
      />

      <!-- 性别 -->
      <van-field
        v-model="form.sex"
        label="性别"
        @focus="(e) => focus(e, 'sex')"
        placeholder="请选择您的性别"
      />
      <van-popup v-model="popup.sex" position="bottom">
        <van-picker
          show-toolbar
          title="性别"
          :columns="sexs"
          @cancel="() => onCancel('sex')"
          @confirm="(value, index) => onConfirm('sex',value, index)"
        />
      </van-popup>

      <van-field
        v-model="form.school"
        label="学校"
        placeholder="请填写所在的学校"
      />

      <!-- 专业类型 -->
      <van-field
        v-model="form.subject"
        @focus="(e) => focus(e, 'subject')"
        label="专业类型"
        placeholder="工科、理科、文科..."
      />
      <van-popup v-model="popup.subject" position="bottom">
        <van-picker
          show-toolbar
          title="专业类型"
          :columns="subjects"
          @cancel="() => onCancel('subject')"
          @confirm="(value, index) => onConfirm('subject',value, index)"
        />
      </van-popup>

      <!-- 年级 -->
      <van-field
        v-model="form.schoolage"
        @focus="(e) => focus(e, 'schoolage')"
        label="年级"
        placeholder="大一、大二、大三、大四"
      />
      <van-popup v-model="popup.schoolage" position="bottom">
        <van-picker
          show-toolbar
          title="所在年级"
          :columns="schoolages"
          @cancel="() => onCancel('schoolage')"
          @confirm="(value, index) => onConfirm('schoolage',value, index)"
        />
      </van-popup>

      <van-field
        v-model="form.introduce"
        label="个人简介"
        type="textarea"
        placeholder="简单地介绍下自己吧"
        rows="1"
        autosize
      />

      <van-field
        v-model="show.emptyTime"
        label="空余时间"
        placeholder="请选择空余时间"
        @focus="(e) => focusTime(e)"
      />
      <empty-time @confirm="getTime" :showTime="show.showTime" />

      <van-field
        v-model="show.lesson"
        label="可教科目"
        placeholder="请选择可教的科目"
        @focus="(e) => focusLesson(e)"
      />
      <lesson @confirm="getLesson" :showLesson="show.showLesson" />

      <van-field
        v-model="show.grade"
        label="可教年级"
        placeholder="请选择可教的年级"
        @focus="(e) => focusGrade(e)"
      />
      <grade @confirm="getGrade" :showGrade="show.showGrade" />

      <van-cell>
        <div class="cell-box" slot="title">
          <span class="van-cell-text">手持学生证/一卡通（露脸）</span>
          <div style="flex:1;textAlign: center;">
            <van-uploader
              :after-read="(file) => onRead(file, 'Pic')"
              accept="image/gif, image/jpeg" multiple
            >
              <img :src="IMG+'/'+other.Pic" alt="" v-if="other.Pic" width="200" height="120">
              <van-icon name="photograph" v-else />
            </van-uploader>
          </div>
        </div>
      </van-cell>
    </van-cell-group>
  </div>
</template>

<script>
import EmptyTime from '@/components/EmptyTime'
import Grade from '@/components/Grade'
import Lesson from '@/components/Lesson'
import { Toast } from 'vant'
import API from '@/utils/api'
import { formatEmptyTime } from '@/filter'
import { IMG } from '@/utils/config'

export default {
  name: 'Profile',
  data () {
    return {
      form: {
        trueName: '',
        sex: '',
        schoolage: '',
        introduce: '',
        school: '',
        subject: ''
      },
      other: {
        Avatar: '',
        Pic: ''
      },
      show: {
        showTime: false,
        emptyTime: '',
        showGrade: false,
        grade: '',
        showLesson: false,
        lesson: ''
      },
      popup: {
        sex: false,
        age: false,
        schoolage: false,
        subject: false
      },
      schoolages: ['大一', '大二', '大三', '大四'],
      subjects: ['工学', '理学', '哲学', '经济学', '法学', '教育学', '文学', '历史学', '管理学', '医学'],
      sexs: ['男', '女'],
      IMG: IMG,
      loading: false
    }
  },
  components: {
    EmptyTime,
    Grade,
    Lesson
  },
  mounted () {
    let user = localStorage.getItem('user')
    try {
      this.setUser(JSON.parse(user))
    } catch (e) {
      this.updateUser()
    }
  },
  methods: {
    back () {
      this.$router.go(-1)
    },
    verify () {
      const { trueName, sex, schoolage, introduce, school, subject } = this.form
      const { emptyTime, grade, lesson } = this.show
      if (!trueName || !sex || !schoolage || !introduce || !school || !subject || !emptyTime || !grade || !lesson) {
        this.$toast('信息还没填写完整，不能提交哦')
        return false
      }
      return true
    },
    submit () {
      if (!this.verify() || this.loading) return
      this.loading = true
      this.axios.get(API[1].updateUser, {
        params: {...this.form}
      }).then(data => {
        this.loading = false
        // 更新用户信息
        this.updateUser()
        // 判断是否需要审核
        this.requestCheck()
      }).catch(e => {
        this.loading = false
      })
    },
    // 请求审核
    requestCheck () {
      if (JSON.parse(localStorage.getItem('user')).freeze === 0) {
        this.axios.get(API[1].requestCheck).then(data => {
          this.updateUser('freeze', 1)
          Toast('已请求审核，请耐心等待')
        })
      } else {
        Toast('修改成功！')
      }
    },
    updateUser (key, value) {
      let user = JSON.parse(localStorage.getItem('user'))
      if (key) {
        user[key] = value
      } else {
        user.trueName = this.form.trueName
        user.sex = this.form.sex
        user.schoolage = this.form.schoolage
        user.school = this.form.school
        user.subject = this.form.subject
        user.introduce = this.form.introduce
      }
      localStorage.setItem('user', JSON.stringify(user))
    },
    // 初始赋值
    setUser (user) {
      this.form.trueName = user.trueName
      this.form.sex = user.sex
      this.form.schoolage = user.schoolage
      this.form.school = user.school
      this.form.subject = user.subject
      this.form.introduce = user.introduce
      this.show.lesson = user.stuLesson.toString()
      this.show.grade = user.stuGrade.toString()
      this.show.emptyTime = formatEmptyTime(user.stuTime)
      this.other.Avatar = user.headPic
      this.other.Pic = user.provePic
    },
    onCancel (key) {
      this.popup[key] = false
    },
    onConfirm (key, value, index) {
      this.form[key] = value
      this.popup[key] = false
    },
    focus (e, key) {
      document.activeElement.blur()
      this.popup[key] = true
    },
    onRead ({content, file}, type) {
      // this.other[type] = content
      this.upload(type, file)
    },
    upload (type, file) {
      let param = new FormData()
      param.append('file', file, file.name)
      let config = {
        headers: { 'Content-Type': 'multipart/form-data' }
      }
      this.axios.post(API[1][`upload${type}`], param, config)
        .then(data => {
          // 将数据更新到 localStorage
          this.other[type] = data
          const key = type === 'Avatar' ? 'headPic' : 'provePic'
          this.updateUser(key, data)
        })
    },
    focusTime () {
      document.activeElement.blur()
      this.show.showTime = true
    },
    getTime (data) {
      if (data) {
        this.show.emptyTime = data
      }
      this.show.showTime = false
    },
    focusGrade () {
      document.activeElement.blur()
      this.show.showGrade = true
    },
    getGrade (data) {
      if (data) {
        this.show.grade = data
      }
      this.show.showGrade = false
    },
    focusLesson () {
      document.activeElement.blur()
      this.show.showLesson = true
    },
    getLesson (data) {
      if (data) {
        this.show.lesson = data
      }
      this.show.showLesson = false
    }
  }
}
</script>

<style lang="scss" scoped>
.profile {
  padding-top: 46px;
  min-height: 100vh;
}
.cell-box {
  display: flex;
  align-items: flex-start;
  span {
    width: 90px;
    display: block;
  }
}
.avatar {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}
</style>
