<template>
  <div class="register">
    <van-nav-bar title="注册" fixed left-arrow
      @click-left="back"
      @click-right="switchRole"
    >
      <i class="iconfont icon-par" slot="right" v-if="role === 2"></i>
      <i class="iconfont icon-stu" slot="right" v-if="role === 1"></i>
    </van-nav-bar>

    <div class="logo">
      <img :src="logo" alt="logo">
    </div>

    <div class="form">
      <li>
        <i class="iconfont icon-phone"></i>
        <input type="tel" placeholder="请输入手机号" v-model="form.phone">
      </li>
      <li>
        <i class="iconfont icon-people"></i>
        <input type="text" placeholder="请输入用户名" v-model="form.userName">
      </li>
      <li>
        <i class="iconfont icon-code"></i>
        <input type="tel" placeholder="请输入短信验证码" v-model="form.code">
        <van-button type="danger" size="small"
          @click.native="getCode"
          :disabled="timer !== 0"
        >
          <template v-if="!timer">
            获取验证码
          </template>
          <template v-else>{{timecount}}s</template>
        </van-button>
      </li>
      <li>
        <i class="iconfont icon-lock"></i>
        <input type="password" placeholder="请输入密码" v-model="form.password">
      </li>
      <li>
        <i class="iconfont icon-confirm"></i>
        <input type="password" placeholder="请再次输入密码" v-model="psdConfirm">
      </li>
      <p>
        <!-- <input type="checkbox" v-model="checked"> -->
        <van-checkbox v-model="checked" class="check-btn" shape="square"></van-checkbox>
        <span>同意</span>
        <router-link to="/agreement" class="agreement">《Sts用户协议》</router-link>
      </p>
      <van-button type="danger" size="large" @click.native="register" :loading="loading">注册</van-button>
      <div class="bottom">
        <span>已有帐号 ？
          <strong><router-link to="/login" tag="span">点此登录</router-link></strong>
        </span>
        <span><router-link to="/forget" tag="span">忘记密码</router-link></span>
      </div>
    </div>
  </div>
</template>

<script>
import { Toast } from 'vant'
import API from '@/utils/api'
import { IMG } from '@/utils/config'
export default {
  name: 'Register',
  data () {
    return {
      checked: true,
      role: 0,
      form: {
        phone: '',
        code: '',
        password: '',
        userName: ''
      },
      psdConfirm: '',
      timer: 0,
      timecount: 30,
      logo: `${IMG}/assets/logo.jpg`,
      loading: false
    }
  },
  mounted () {
    // 没有选择类型，就跳转到欢迎页
    const role = parseInt(localStorage.getItem('role'))
    if (!role) {
      this.$router.push({name: 'Welcome'})
    } else {
      this.role = parseInt(role)
    }
  },
  methods: {
    back () {
      this.$router.go(-1)
    },
    validate () {
      if (!this.form.phone) {
        Toast('请输入手机号')
        return false
      }
      if (!(/^[1][3,4,5,7,8][0-9]{9}$/.test(this.form.phone))) {
        Toast('请输入正确的手机号')
        return false
      }
      if (!this.form.code) {
        Toast('请输入验证码')
        return false
      }
      if (!this.form.password) {
        Toast('请输入密码')
        return false
      }
      if (this.form.password !== this.psdConfirm) {
        Toast('两次输入的密码不一致')
        return false
      }
      if (!this.checked) {
        Toast('同意用户协议才能注册哦')
        return false
      }
      return true
    },
    // 获取验证码
    getCode () {
      if (!this.form.phone) {
        Toast('请输入手机号')
        return false
      }
      if (!(/^[1][3,4,5,7,8][0-9]{9}$/.test(this.form.phone))) {
        Toast('请输入正确的手机号')
        return false
      }
      this.axios.get(API.getCode, {
        params: {phone: this.form.phone}
      }).then(data => {
        Toast('验证码已发出，请查看')
      })
      this.timer = setInterval(() => {
        const timecount = this.timecount
        if (timecount < 1) {
          this.timecount = 30
          this.timer = 0
        } else {
          this.timecount = timecount - 1
        }
      }, 1000)
    },
    register () {
      if (!this.validate()) return
      this.loading = true
      this.axios.get(API[this.role].register, {
        params: {...this.form}
      }).then(data => {
        this.loading = false
        Toast('注册成功')
      }).catch(e => {
        this.loading = false
      })
    },
    switchRole () {
      let role = this.role === 1 ? 2 : 1
      this.role = role
      localStorage.setItem('role', role)
    }
  }
}
</script>

<style lang="scss" scoped>
$gutter: 15px;
.register {
  padding: 46px $pageGutter $pageGutter $pageGutter;
  background: #f2f2f2;
  min-height: 100vh;
  .van-nav-bar .van-icon {
    color: $themeColor;
  }
  .logo {
    text-align: center;
    margin: 20px 0;
  }
  img {
    width: 100px;
    height: 50px;
  }
  li {
    display: flex;
    background: #fff;
    border-radius: 4px;
    margin-bottom: $gutter;
    align-items: center;
    padding: 0 10px;
    line-height: 40px;
    input {
      border: none;
      // height: 30px;
      // line-height: 30px;
      flex: 1;
      // margin-left: 5px;
      margin: 10px 0 10px 4px;
      height: 20px;
      line-height: 20px;
      font-size: 14px;
    }
  }
  p {
    margin-bottom: $gutter;
    display: flex;
    align-items: center;
    .check-btn {
      margin-right: 10px;
    }
  }
  .agreement {
    color: $themeColor;
    text-decoration: underline;
  }

  .bottom {
    margin-top: $gutter;
    display: flex;
    justify-content: space-between;
  }
  strong {
    color: $themeColor;
    font-weight: normal;
  }
}
</style>
