<template>
  <div class="welcome" :style="'backgroundImage:url('+bg+')'">
    <div class="title">
      <h1>STS</h1>
      <p>你身边的家教服务专家</p>
    </div>
    <div class="btn-group">
      <span class="btn first" @click="() => turnToLogin(2)">我是家长</span>
      <span class="btn" @click="() => turnToLogin(1)">我是老师</span>
      <!-- <span class="btn" @click="() => pay">支付</span> -->
    </div>
  </div>
</template>

<script>
import { IMG } from '@/utils/config'
// import Wepay from '@/utils/wepay'
export default {
  name: 'Welcome',
  data () {
    return {}
  },
  mounted () {
    if (localStorage.getItem('user') && localStorage.getItem('role')) {
      this.turnToHome()
    }
  },
  computed: {
    bg () {
      return `${IMG}/assets/welcome.png`
    }
  },
  methods: {
    turnToLogin (type) {
      localStorage.setItem('role', type)
      this.$router.push({name: 'Login'})
    },
    turnToHome () {
      this.$router.push({name: 'Login'})
    }
    // pay () {
    //   Wepay()
    // }
  }
}
</script>

<style lang="scss" scoped>
.welcome {
  color: #fff;
  background-repeat: no-repeat;
  width: 100%;
  background-size: 100% 100%;
  height: 100vh;
  font-size: 16px;
}
.title {
  position: absolute;
  top: 20%;
  width: 100%;
  text-align: center;
  h1 {
    margin-bottom: 20px;
  }
}
.btn-group {
  position: absolute;
  width: 100%;
  bottom: 20%;
  text-align: center;
}
.btn {
  display: inline-block;
  width: 126px;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  border: 1px solid #fff;
}
.first {
  margin-right: 28px;
}
</style>
