<template>
  <div class="order">
    <div class="container">
      <van-tabs v-model="status" sticky>
        <van-tab
          v-for="item in orderMenu" :title="item"
          :key="item"
        >
          <div class="tab-content">
            <van-pull-refresh v-model="loading" @refresh="onRefresh" style="minHeight: 100vh;">
              <p v-if="list.length === 0">暂无数据</p>
              <order-item v-else
                :order="order"
                v-for="order in list"
                :key="order.dealID"
                @operate="operate"
              />
            </van-pull-refresh>
          </div>
        </van-tab>
      </van-tabs>
    </div>

    <tabbar />
  </div>
</template>

<script>
import OrderItem from '@/components/OrderItem.vue'
import Tabbar from '@/components/Tabbar'
import API from '@/utils/api'
export default {
  name: 'Order',
  data () {
    return {
      orderMenu: ['待抢单', '进行中', '已完成'],
      status: 0, // 订单状态
      result: [],
      loading: false
    }
  },
  computed: {
    list () {
      let status = this.status
      return this[`list${status}`]
    },
    list0 () {
      return this.result.filter(item => {
        return item.dealStatus === 0
      })
    },
    list1 () {
      return this.result.filter(item => {
        return item.dealStatus === 1
      })
    },
    list2 () {
      return this.result.filter(item => {
        return item.dealStatus === 2
      })
    }
  },
  mounted () {
    this.getData()
  },
  methods: {
    onRefresh () {
      this.loading = true
      this.getData()
    },
    getData () {
      this.axios.get(API[2].getMyOrders).then(data => {
        // 每项增加idx，方便后边的数据更新
        this.result = data.map(function (item, idx) {
          return { ...item, idx }
        })
        this.loading = false
      }).catch(e => {
        this.loading = false
      })
    },
    // 数据同步
    operate (idx, status) {
      if (status !== undefined) {
        let order = this.result[idx]
        order.dealStatus = status
        this.$set(this.result, idx, order)
      } else {
        this.result.splice(idx, 1)
      }
    }
  },
  components: {
    OrderItem,
    Tabbar
  }
}
</script>

<style lang="scss" scoped>
.order {
  background: #f2f2f2;
  min-height: 100vh;
  padding: 0 0 50px 0;
}
.tab-content {
  padding: $pageGutter;
  p {
    text-align: center;
  }
}
</style>
