<template>
  <div class="profile">
    <van-nav-bar title="修改信息" fixed left-arrow
      @click-left="back"
    >
      <template slot="right">
        <span v-if="loading">提交中...</span>
        <span v-else @click="submit">完成</span>
      </template>
    </van-nav-bar>
    <!-- 表单 -->
    <van-cell-group>
      <van-cell>
        <div class="cell-box" slot="title">
          <span class="van-cell-text">头像</span>
          <van-uploader
            :after-read="onRead"
            accept="image/gif, image/jpeg" multiple
          >
            <img :src="IMG+'/'+avatar" alt="avatar" class="avatar" v-if="avatar">
            <van-icon name="photograph" v-else />
          </van-uploader>
        </div>
      </van-cell>

      <van-field
        v-model="form.trueName"
        label="真实姓名"
        placeholder="请填写您的真实姓名"
      />

      <!-- 性别 -->
      <van-field
        v-model="form.sex"
        label="性别"
        @focus="(e) => focus(e, 'sex')"
        placeholder="请选择您的性别"
      />
      <van-popup v-model="popup.sex" position="bottom">
        <van-picker
          show-toolbar
          title="性别"
          :columns="sexs"
          @cancel="() => onCancel('sex')"
          @confirm="(value, index) => onConfirm('sex',value, index)"
        />
      </van-popup>

      <van-field
        v-model="form.contactAddress"
        label="联系地址"
        placeholder="请填写您的联系地址"
      />
    </van-cell-group>

  </div>
</template>

<script>
import { Toast } from 'vant'
import API from '@/utils/api'
import { IMG } from '@/utils/config'
export default {
  name: 'Profile',
  data () {
    return {
      form: {
        trueName: '',
        sex: '',
        contactAddress: ''
      },
      avatar: '',
      popup: {
        sex: false
      },
      sexs: ['男', '女'],
      IMG: IMG,
      loading: false
    }
  },
  mounted () {
    let user = localStorage.getItem('user')
    try {
      this.setUser(JSON.parse(user))
    } catch (e) {
      this.$router.push({name: 'Login'})
    }
  },
  methods: {
    back () {
      this.$router.go(-1)
    },
    verify () {
      const { trueName, sex, contactAddress } = this.form
      if (!trueName || !sex || !contactAddress) {
        this.$toast('信息还没填写完整，不能提交哦')
        return false
      }
      return true
    },
    submit () {
      if (!this.verify() || this.loading) return
      this.loading = true
      this.axios.get(API[2].updateUser, {
        params: {...this.form}
      }).then(data => {
        this.loading = false
        Toast('修改成功！')
        this.updateUser()
      }).catch(e => {
        this.loading = false
      })
    },
    updateUser (key, value) {
      let user = JSON.parse(localStorage.getItem('user'))
      if (key) {
        user[key] = value
      } else {
        user.trueName = this.form.trueName
        user.sex = this.form.sex
        user.contactAddress = this.form.contactAddress
      }
      localStorage.setItem('user', JSON.stringify(user))
    },
    setUser (user) {
      this.form.trueName = user.trueName
      this.form.sex = user.sex
      this.form.contactAddress = user.contactAddress
      this.avatar = user.headPic
    },
    onCancel (key) {
      this.popup[key] = false
    },
    onConfirm (key, value, index) {
      this.form[key] = value
      this.popup[key] = false
    },
    focus (e, key) {
      document.activeElement.blur()
      this.popup[key] = true
    },
    onRead ({content, file}) {
      // this.avatar = content
      this.upload(file)
    },
    upload (file) {
      let param = new FormData()
      param.append('file', file, file.name)
      let config = {
        headers: { 'Content-Type': 'multipart/form-data' }
      }
      this.axios.post(API[2].uploadAvatar, param, config)
        .then(data => {
          this.avatar = data
          // 将数据更新到 localStorage
          this.updateUser('headPic', data)
        })
    }
  }
}
</script>

<style lang="scss" scoped>
.profile {
  padding-top: 46px;
  min-height: 100vh;
  // background: #f2f2f2;
}
.cell-box {
  display: flex;
  align-items: flex-start;
  span {
    width: 90px;
    display: block;
  }
}
.avatar {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}
</style>
