<template>
  <div class="profile">
    <van-nav-bar title="家教需求" fixed left-arrow
      @click-left="back"
    >
      <template slot="right">
        <span v-if="loading">提交中...</span>
        <span v-else @click="submit">发布</span>
      </template>
    </van-nav-bar>
    <!-- 科目 -->
    <van-cell-group>
      <van-field
        v-model="form.lesson"
        label="科目"
        placeholder="请选择学科"
        @focus="(e) => focus(e, 'lesson')"
      />
      <van-popup v-model="popup.lesson" position="bottom">
        <van-picker
          show-toolbar
          title="科目"
          :columns="lessons"
          @cancel="() => onCancel('lesson')"
          @confirm="(value, index) => onConfirm('lesson',value, index)"
        />
      </van-popup>

      <!-- 性别 -->
      <van-field
        v-model="form.sex"
        label="性别"
        @focus="(e) => focus(e, 'sex')"
        placeholder="对老师的要求"
      />
      <van-popup v-model="popup.sex" position="bottom">
        <van-picker
          show-toolbar
          title="老师的性别"
          :columns="sexs"
          @cancel="() => onCancel('sex')"
          @confirm="(value, index) => onConfirm('sex',value, index)"
        />
      </van-popup>

      <!-- 年级 -->
      <van-field
        v-model="form.grade"
        @focus="(e) => focus(e, 'grade')"
        label="年级"
        placeholder="您孩子的年级"
      />
      <van-popup v-model="popup.grade" position="bottom">
        <van-picker
          show-toolbar
          title="年级"
          :columns="grades"
          @cancel="() => onCancel('grade')"
          @confirm="(value, index) => onConfirm('grade',value, index)"
        />
      </van-popup>

      <!-- 授课时间 -->
      <van-field
        v-model="emptyTime"
        @focus="(e) => focus(e, 'emptyTime')"
        label="时间"
        placeholder="请选择授课时间"
      />
      <van-popup v-model="popup.emptyTime" position="bottom">
        <van-picker
          show-toolbar
          title="价格"
          :columns="emptyTimes"
          @cancel="() => onCancel('emptyTime')"
          @confirm="(value, index) => onConfirm('emptyTime',value, index)"
        />
      </van-popup>

      <!-- 授课金额 -->
      <van-field
        v-model="form.price"
        label="价格"
        placeholder="元／小时"
        @focus="(e) => focus(e, 'price')"
      />
      <van-popup v-model="popup.price" position="bottom">
        <van-picker
          show-toolbar
          title="价格"
          :columns="prices"
          @cancel="() => onCancel('price')"
          @confirm="(value, index) => onConfirm('price',value, index)"
        />
      </van-popup>

      <!-- 授课说明 -->
      <van-field
        v-model="form.dealRequire"
        label="其他需求"
        type="textarea"
        placeholder="其他需求说明"
        rows="1"
        autosize
      />
    </van-cell-group>

  </div>
</template>

<script>
import { Toast } from 'vant'
import API from '@/utils/api'
export default {
  name: 'Profile',
  data () {
    return {
      loading: false,
      form: {
        lesson: '',
        grade: '',
        sex: '',
        price: '',
        dealRequire: ''
      },
      emptyTime: '',
      popup: {
        sex: false,
        lesson: false,
        grade: false,
        price: false,
        emptyTime: false
      },
      grades: ['一年级', '二年级', '三年级', '四年级', '五年级', '六年级', '初一', '初二', '初三'],
      prices: [30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150],
      sexs: ['男', '女', '不限'],
      lessons: ['数学', '语文', '英语', '科学'],
      emptyTimes: ['周一上午', '周一下午', '周二上午', '周二下午', '周三上午', '周三下午',
        '周四上午', '周四下午', '周五上午', '周五下午', '周六上午', '周六下午', '周日上午', '周日下午']
    }
  },
  methods: {
    back () {
      this.$router.go(-1)
    },
    verify () {
      const { lesson, grade, sex, price, dealRequire } = this.form
      if (!grade || !lesson || !sex || !price || !dealRequire || !this.emptyTime) {
        this.$toast('信息还没填写完整，不能提交哦')
        return false
      }
      return true
    },
    submit () {
      if (!this.verify() || this.loading) return
      this.loading = true
      this.axios.get(API[2].addDeal, {
        params: {...this.form, emptyTime: this.emptyTimes.indexOf(this.emptyTime) + 1}
      }).then(data => {
        this.loading = false
        this.clear()
        Toast('发布成功！')
      }).catch(e => {
        this.loading = false
      })
    },
    clear () {
      this.form = {
        lesson: '',
        grade: '',
        sex: '',
        price: '',
        dealRequire: ''
      }
      this.emptyTime = ''
    },
    onCancel (key) {
      this.popup[key] = false
    },
    onConfirm (key, value, index) {
      if (key === 'emptyTime') {
        this.emptyTime = value
      } else {
        this.form[key] = value
      }
      this.popup[key] = false
    },
    focus (e, key) {
      document.activeElement.blur()
      this.popup[key] = true
    }
  }
}
</script>

<style lang="scss" scoped>
.profile {
  padding-top: 46px;
  min-height: 100vh;
}
</style>
