<template>
  <!-- 授课时间 -->
  <van-popup v-model="show" position="bottom">
    <div class="title">
      <span class="cancel" @click="cancel">取消</span>
      <span class="content">时间</span>
      <span class="confirm" @click="confirm">确定</span>
    </div>
    <van-row>
      <van-col span="12" style="textAlign: center;">
        <van-checkbox-group v-model="result1">
          <van-cell-group>
            <van-checkbox
              v-for="item in list1"
              :key="item"
              :name="item"
              style="padding: 10px 0;"
            >
              {{ time[item] }}
            </van-checkbox>
          </van-cell-group>
        </van-checkbox-group>
      </van-col>
      <van-col span="12" style="textAlign: center;">
        <van-checkbox-group v-model="result2">
          <van-cell-group>
            <van-checkbox
              v-for="item in list2"
              :key="item"
              :name="item"
              style="padding: 10px 0;"
            >
              {{ time[item] }}
            </van-checkbox>
          </van-cell-group>
        </van-checkbox-group>
      </van-col>
    </van-row>
  </van-popup>
</template>

<script>
import API from '@/utils/api'
const TIME = {
  1: '周一上午',
  2: '周一下午',
  3: '周二上午',
  4: '周二下午',
  5: '周三上午',
  6: '周三下午',
  7: '周四上午',
  8: '周四下午',
  9: '周五上午',
  10: '周五下午',
  11: '周六上午',
  12: '周六下午',
  13: '周日上午',
  14: '周日下午'
}
export default {
  name: 'EmptyTime',
  props: {
    showTime: Boolean
  },
  data () {
    return {
      show: false,
      time: TIME,
      result1: [],
      result2: [],
      list1: [1, 3, 5, 7, 9, 11, 13],
      list2: [2, 4, 6, 8, 10, 12, 14]
    }
  },
  mounted () {
    let result = JSON.parse(localStorage.getItem('user')).stuTime
    let result1 = []
    let result2 = []
    result.forEach(item => {
      if ([2, 4, 6, 8, 10, 12, 14].indexOf(item) > -1) {
        result2.push(item)
      } else {
        result1.push(item)
      }
    })
    this.result1 = result1
    this.result2 = result2
  },
  watch: {
    showTime () {
      if (this.showTime) {
        this.show = true
      }
    },
    show () {
      if (!this.show) {
        this.$emit('confirm')
      }
    }
  },
  methods: {
    cancel () {
      this.show = false
    },
    confirm () {
      this.show = false
      let result = this.result1.concat(this.result2)
      result = JSON.parse(JSON.stringify(result))
      let timeStr = ''
      let timeArr = []
      result.sort((a, b) => {
        return a.key > b.key
      })
      result.forEach(item => {
        timeStr = `${timeStr},${TIME[item]}`
        timeArr.push(item)
      })
      timeStr = timeStr.substring(1, timeStr.length)
      this.submit(timeArr)
      this.$emit('confirm', timeStr)
    },
    submit (timeArr) {
      this.axios.get(API[1].updateTime, {
        params: {emptyTime: timeArr}
      }).then(data => {
        // 更新用户信息
        let user = JSON.parse(localStorage.getItem('user'))
        user.stuTime = timeArr
        localStorage.setItem('user', JSON.stringify(user))
      })
    }
  }
}
</script>

<style scoped lang="scss">
.title {
  display: flex;
  padding: 0 15px;
  height: 40px;
  line-height: 40px;
  justify-content: space-between;
  .cancel, .confirm {
    color: $themeColor;
  }
}
</style>
