<template>
  <!-- 授课时间 -->
  <van-popup v-model="show" position="bottom">
    <div class="title">
      <span class="cancel" @click="cancel">取消</span>
      <span class="content">授课年级</span>
      <span class="confirm" @click="confirm">确定</span>
    </div>
    <van-row>
      <van-col span="12" style="textAlign: center;">
        <van-checkbox-group v-model="result1">
          <van-cell-group>
            <van-checkbox
              v-for="item in list1"
              :key="item"
              :name="item"
              style="padding: 10px 0;"
            >
              {{ item }}
            </van-checkbox>
          </van-cell-group>
        </van-checkbox-group>
      </van-col>
      <van-col span="12" style="textAlign: center;">
        <van-checkbox-group v-model="result2">
          <van-cell-group>
            <van-checkbox
              v-for="item in list2"
              :key="item"
              :name="item"
              style="padding: 10px 0;"
            >
              {{ item }}
            </van-checkbox>
          </van-cell-group>
        </van-checkbox-group>
      </van-col>
    </van-row>
  </van-popup>
</template>

<script>
import API from '@/utils/api'
export default {
  name: 'Grade',
  props: {
    showGrade: Boolean
  },
  data () {
    return {
      show: false,
      result1: [],
      result2: [],
      list1: ['一年级', '二年级', '三年级', '四年级', '五年级', '六年级'],
      list2: ['初一', '初二', '初三']
    }
  },
  mounted () {
    let result = JSON.parse(localStorage.getItem('user')).stuGrade
    let result1 = []
    let result2 = []
    result.forEach(item => {
      if (this.list2.toString().indexOf(item) > -1) {
        result2.push(item)
      } else {
        result1.push(item)
      }
    })
    this.result1 = result1
    this.result2 = result2
  },
  watch: {
    showGrade () {
      if (this.showGrade) {
        this.show = true
      }
    },
    show () {
      if (!this.show) {
        this.$emit('confirm')
      }
    }
  },
  methods: {
    cancel () {
      this.show = false
    },
    confirm () {
      this.show = false
      let result = this.result1.concat(this.result2)
      result = JSON.parse(JSON.stringify(result))
      let gradeArr = []
      result.forEach(item => {
        gradeArr.push(item)
      })
      this.submit(gradeArr)
      this.$emit('confirm', gradeArr.toString())
    },
    submit (gradeArr) {
      this.axios.get(API[1].updateGrade, {
        params: {grade: gradeArr}
      }).then(data => {
        // 更新用户信息
        let user = JSON.parse(localStorage.getItem('user'))
        user.stuGrade = gradeArr
        localStorage.setItem('user', JSON.stringify(user))
      })
    }
  }
}
</script>

<style scoped lang="scss">
.title {
  display: flex;
  padding: 0 15px;
  height: 40px;
  line-height: 40px;
  justify-content: space-between;
  .cancel, .confirm {
    color: $themeColor;
  }
}
</style>
