<template>
  <!-- 授课时间 -->
  <van-popup v-model="show" position="bottom">
    <div class="title">
      <span class="cancel" @click="cancel">取消</span>
      <span class="content">授课科目</span>
      <span class="confirm" @click="confirm">确定</span>
    </div>
    <van-row>
      <van-col span="24" style="textAlign: center;">
        <van-checkbox-group v-model="result">
          <van-cell-group>
            <van-checkbox
              v-for="item in list"
              :key="item"
              :name="item"
              style="padding: 10px 0;"
            >
              {{ item }}
            </van-checkbox>
          </van-cell-group>
        </van-checkbox-group>
      </van-col>
    </van-row>
  </van-popup>
</template>

<script>
import API from '@/utils/api'
export default {
  name: 'Lesson',
  props: {
    showLesson: Boolean
  },
  data () {
    return {
      show: false,
      result: [],
      list: ['语文', '数学', '英语', '科学']
    }
  },
  mounted () {
    this.result = JSON.parse(localStorage.getItem('user')).stuLesson
  },
  watch: {
    showLesson () {
      if (this.showLesson) {
        this.show = true
      }
    },
    show () {
      if (!this.show) {
        this.$emit('confirm')
      }
    }
  },
  methods: {
    cancel () {
      this.show = false
    },
    confirm () {
      this.show = false
      let result = JSON.parse(JSON.stringify(this.result))
      let lessonArr = []
      result.forEach(item => {
        lessonArr.push(item)
      })
      this.submit(lessonArr)
      this.$emit('confirm', lessonArr.toString())
    },
    submit (lessonArr) {
      this.axios.get(API[1].updateLesson, {
        params: {lesson: lessonArr}
      }).then(data => {
        // 更新用户信息
        let user = JSON.parse(localStorage.getItem('user'))
        user.stuLesson = lessonArr
        localStorage.setItem('user', JSON.stringify(user))
      })
    }
  }
}
</script>

<style scoped lang="scss">
.title {
  display: flex;
  padding: 0 15px;
  height: 40px;
  line-height: 40px;
  justify-content: space-between;
  .cancel, .confirm {
    color: $themeColor;
  }
}
</style>
