<template>
  <div>
    <van-row class="info" v-if="user">
      <van-col span="8">
        <figure :style="'backgroundImage:url('+avatar+')'"></figure>
      </van-col>
      <van-col span="16">
        <p class="text-1">{{user.userName}}</p>
        <p class="text-1">{{user.phone}}</p>
        <p class="text-1">{{user.contactAddress}}</p>
      </van-col>
    </van-row>
  </div>
</template>

<script>
import { IMG } from '@/utils/config'
export default {
  name: 'MePar',
  props: {
    user: Object
  },
  computed: {
    avatar () {
      let suffix = this.user.headPic ? this.user.headPic : 'assets/avatar.jpeg'
      return `${IMG}/${suffix}`
    }
  }
}
</script>

<style lang="scss" scoped>
.info {
  background: #fff;
  margin: 10px 0;
  padding: 20px 10px;
  display: flex;
  align-items: center;
}
figure {
  // background: url('../assets/avatar.jpeg') 0 0 no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  margin-left: 10px;
}
p {
  padding: 4px 0;
}
</style>
