<template>
  <div>
    <van-row class="info" v-if="user">
      <van-col span="8">
        <figure :style="'backgroundImage:url('+avatar+')'"></figure>
      </van-col>
      <van-col span="16">
        <p class="text-1">{{user.userName}}</p>
        <p class="text-1">{{user.phone}}</p>
        <p class="text-1">{{user.school}}</p>
      </van-col>
    </van-row>

    <!-- 0,1,-1 的状态下不显示 -->
    <van-radio-group style="margin-bottom: 20px;"
      v-if="user.freeze === 3 || user.freeze === 2"
    >
      <van-cell-group>
        <van-cell title="是否匹配">
          <van-switch v-model="checked" size="20px" @click.native="change" />
        </van-cell>
      </van-cell-group>
    </van-radio-group>
  </div>
</template>

<script>
import { IMG } from '@/utils/config'
import API from '@/utils/api'
export default {
  name: 'MeStu',
  props: {
    user: Object
  },
  data () {
    return {
      checked: false
    }
  },
  mounted () {
    if (this.user.freeze === 3) {
      this.checked = false
    }
    if (this.user.freeze === 2) {
      this.checked = true
    }
  },
  computed: {
    avatar () {
      let suffix = this.user.headPic ? this.user.headPic : 'assets/avatar.jpeg'
      return `${IMG}/${suffix}`
    }
  },
  methods: {
    change () {
      if (!this.checked) {
        this.switchMatch('关闭', 'close')
      } else {
        this.switchMatch('开启', 'open')
      }
    },
    switchMatch (message, key) {
      this.axios.get(API[`${key}Match`]).then(data => {
        this.$toast(`匹配已${message}`)
        let user = JSON.parse(localStorage.getItem('user'))
        user.freeze = key === 'open' ? 2 : 3
        localStorage.setItem('user', JSON.stringify(user))
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.info {
  background: #fff;
  margin: 10px 0;
  padding: 20px 10px;
  display: flex;
  align-items: center;
}
figure {
  // background: url('../assets/avatar.jpeg') 0 0 no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  margin-left: 10px;
}
p {
  padding: 4px 0;
}
</style>
