<template>
  <ul class="order-item text-2">
    <li class="type van-hairline--bottom">
      <p>{{order.lesson}}</p>
      <!-- <span v-if="status === 0">待抢单</span>
      <span v-if="status === 1">进行中</span>
      <span v-if="status === 2">已完成</span> -->
    </li>
    <li class="address">
      <van-icon name="exchange" class="icon" />
      <span>{{order.grade}}</span>
    </li>
    <li class="time van-hairline--bottom">
      <van-icon name="clock" class="icon" />
      <span>{{order.emptyTime | formatEmptyTime}}</span>
    </li>
    <li class="price">
      <span>¥{{order.price}}/小时</span>
      <div v-if="status === 0">
        <van-button type="danger" size="small" @click.native="rushDeal" v-if="role === 1">立即抢单</van-button>
        <van-button type="danger" size="small" @click.native="delDeal" v-if="role === 2">删除订单</van-button>
        <van-button type="default" size="small" @click.native="goDetail">查看信息</van-button>
      </div>
      <div v-if="status === 1">
        <van-button type="danger" size="small" @click.native="endDeal" v-if="role === 2">结束订单</van-button>
        <van-button type="default" size="small" @click.native="goDetail">查看信息</van-button>
      </div>
      <div v-if="status === 2 && role === 1">
        <van-button type="danger" size="small" v-if="order.parWords" disabled>已评价</van-button>
        <van-button type="danger" size="small" @click.native="comment" v-else>评价订单</van-button>
        <van-button type="default" size="small" @click.native="goDetail">查看信息</van-button>
      </div>
      <div v-if="status === 2 && role === 2">
        <van-button type="danger" size="small" v-if="order.stuWords" disabled>已评价</van-button>
        <van-button type="danger" size="small" @click.native="comment" v-else>评价订单</van-button>
        <van-button type="default" size="small" @click.native="goDetail">查看信息</van-button>
      </div>
    </li>
  </ul>
</template>

<script>
import API from '@/utils/api'
export default {
  name: 'OrderItem',
  props: {
    order: Object
  },
  data () {
    return {
      role: parseInt(localStorage.getItem('role')),
      userId: parseInt(JSON.parse(localStorage.getItem('user')).stuUserID),
      status: this.order.dealStatus
    }
  },
  methods: {
    comment () {
      this.$router.push({ name: 'Comment',
        params: { id: this.order.dealID }
      })
    },
    // 学生抢单
    rushDeal () {
      this.axios.get(API[1].rushDeal, {
        params: {stuUserID: this.userId, dealID: this.order.dealID}
      }).then(data => {
        // 抢单成功后，改变状态为进行中
        this.$toast('抢单成功')
        this.status = 1
        this.$emit('operate', this.order.idx, 1)
      })
    },
    // 家长删除订单
    delDeal () {
      this.axios.get(API[2].delDeal, {
        params: {dealID: this.order.dealID}
      }).then(data => {
        this.$toast('删除成功')
        this.$emit('operate', this.order.idx)
      })
    },
    // 家长结束订单
    endDeal () {
      this.axios.get(API[2].endDeal, {
        params: {dealID: this.order.dealID}
      }).then(data => {
        this.status = 2
        this.$emit('operate', this.order.idx, 2)
        this.$toast('已结束订单')
      })
    },
    goDetail () {
      this.$router.push({ name: 'OrderDetail', params: {order: this.order} })
    }
  }
}
</script>

<style lang="scss" scoped>
.order-item {
  background: #fff;
  border-radius: 4px;
  margin-bottom: 10px;
  padding-top: 4px;
}
li {
  padding: 6px;
}
.type {
  p {
    border-left: 2px solid $themeColor;
    text-indent: 4px;
    color: #555;
  }
}
.price, .type {
  color: $themeColor;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon {
  margin-right: 6px;
  vertical-align: middle;
}
</style>
