<template>
  <van-row class="info" v-if="user">
    <van-col span="8">
      <figure :style="'backgroundImage:url('+avatar+')'"></figure>
    </van-col>
    <van-col span="16">
      <p><span>昵称：</span>{{user.userName}}</p>
      <p><span>性别：</span>{{user.sex}}</p>
      <p><span>联系方式：</span>{{user.phone}}</p>
      <p><span>联系地址：</span>{{user.contactAddress}}</p>
    </van-col>
  </van-row>
</template>

<script>
import API from '@/utils/api'
import { IMG } from '@/utils/config'
export default {
  name: 'ParCard',
  props: {
    userId: Number
  },
  data () {
    return {
      user: null
    }
  },
  mounted () {
    this.getUser()
  },
  computed: {
    avatar () {
      if (!this.user) return `${IMG}/assets/avatar.jpeg`
      let suffix = this.user.headPic ? this.user.headPic : 'assets/avatar.jpeg'
      return `${IMG}/${suffix}`
    }
  },
  methods: {
    getUser () {
      this.axios.get(API[2].getUserById, {
        params: {parUserID: this.userId}
      }).then(data => {
        this.user = data
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.info {
  background: #fff;
  margin: 10px 0;
  padding: 15px 10px;
}
figure {
  // background: url('../assets/avatar.jpeg') 0 0 no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  width: 80px;
  height: 80px;
  border-radius: 100%;
}
p {
  padding: 2px 0;
  color: #555;
  span {
    color: #000;
  }
}
</style>
