<template>
  <van-row class="needs-box">
    <van-col span="12"
      class="needs-item"
    >
      <img :src="p1" alt="icon">
      <router-link to="/publishDeal" tag="p">找家教</router-link>
    </van-col>
    <van-col span="12"
      class="needs-item"
    >
      <img :src="p2" alt="icon">
      <p>兴趣开发</p>
    </van-col>
  </van-row>
</template>

<script>
import { IMG } from '@/utils/config'
export default {
  name: 'ParTab',
  data () {
    return {
      p1: `${IMG}/assets/p1.jpg`,
      p2: `${IMG}/assets/p2.jpg`
    }
  }
}
</script>

<style scoped lang="scss">
// 需求tab
.needs-box {
  background: #fff;
  border-radius: 4px;
  margin-top: $pageGutter;
  img {
    width: 40px;
    height: 40px;
  }
  p {
    padding-top: 5px;
  }
}
.needs-item {
  text-align: center;
  padding: $pageGutter;
}
</style>
