<template>
  <van-row class="info" v-if="user">
    <van-col span="12" class="img-box">
      <figure @click="preview" :style="'backgroundImage:url('+avatar+')'"></figure>
      <p @click="activeUser" v-if="freeze === 1">点击审核</p>
      <p @click="freezeUser" v-if="freeze === 2" class="freeze">点击冻结</p>
      <p @click="activeUser" v-if="freeze === -1" class="unfreeze">点击解冻</p>
    </van-col>
    <van-col span="12">
      <p><span>真实姓名：</span>{{user.userName}}</p>
      <p><span>性别：</span>{{user.sex}}</p>
      <p><span>学校：</span>{{user.school}}</p>
      <p><span>专业：</span>{{user.subject}}</p>
      <p><span>年级：</span>{{user.schoolage}}</p>
    </van-col>
  </van-row>
</template>

<script>
import { ImagePreview } from 'vant'
import API from '@/utils/api'
import { IMG } from '@/utils/config'
export default {
  name: 'StuCheckCard',
  props: {
    user: Object
  },
  data () {
    return {
      freeze: 0
    }
  },
  mounted () {
    this.freeze = this.user.freeze
  },
  computed: {
    avatar () {
      if (!this.user) return `${IMG}/assets/avatar.jpeg`
      let suffix = this.user.provePic ? this.user.provePic : 'assets/avatar.jpeg'
      return `${IMG}/${suffix}`
    }
  },
  methods: {
    activeUser () {
      this.axios.get(API[1].activeUser, {
        params: {stuUserID: this.user.stuUserID}
      }).then(data => {
        this.freeze = 2
        this.$toast('审核成功')
        this.$emit('operate', this.user.idx, 2)
      })
    },
    freezeUser () {
      this.axios.get(API[1].freezeUser, {
        params: {stuUserID: this.user.stuUserID}
      }).then(data => {
        this.freeze = -1
        this.$toast('冻结成功')
        this.$emit('operate', this.user.idx, -1)
      })
    },
    preview () {
      ImagePreview([
        this.avatar
      ])
    }
  }
}
</script>

<style lang="scss" scoped>
.info {
  background: #fff;
  margin: 10px 0;
  padding: 15px 10px;
}
p {
  padding: 2px 0;
  color: #555;
  span {
    color: #000;
  }
}
figure {
  // background: url('../assets/avatar.jpeg') 0 0 no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 90px;
}
.img-box {
  padding-right: 15px;
  p {
    text-align: center;
    background: $themeColor;
    color: #fff;
  }
}
.freeze {
  background: #3498db !important;
}
.unfreeze {
  background: #ffa940 !important;
}
</style>
