<template>
  <van-row class="needs-box">
    <van-col span="12"
      class="needs-item"
      @click.native="goTab1"
    >
      <img :src="s1" alt="icon">
      <p>做家教</p>
    </van-col>
    <van-col span="12"
      class="needs-item"
      @click.native="goTab2"
    >
      <img :src="s2" alt="icon">
      <p>家教资料</p>
    </van-col>
  </van-row>
</template>

<script>
import { IMG } from '@/utils/config'
import API from '@/utils/api'
export default {
  name: 'StuTab',
  data () {
    return {
      freeze: 0,
      s1: `${IMG}/assets/s1.jpg`,
      s2: `${IMG}/assets/s2.jpg`
    }
  },
  mounted () {
    this.getUser()
  },
  methods: {
    goTab1 () {
      if (this.freeze === 0) {
        this.$router.push({ name: 'Profile' })
      } else {
        this.$router.push({ name: 'Check', params: {freeze: this.freeze} })
      }
    },
    goTab2 () {
      this.$router.push({ name: 'Course' })
    },
    getUser () {
      this.axios.get(API[1].getUser).then(data => {
        localStorage.setItem('user', JSON.stringify(data))
        this.freeze = data.freeze
      })
    }
  }
}
</script>

<style scoped lang="scss">
// 需求tab
.needs-box {
  background: #fff;
  border-radius: 4px;
  margin-top: $pageGutter;
  img {
    width: 40px;
    height: 40px;
  }
  p {
    padding-top: 5px;
  }
}
.needs-item {
  text-align: center;
  padding: $pageGutter;
}
</style>
