<template>
  <van-row class="suggest-box" v-if="suggest.content">
    <van-col span="12">{{suggest.content}}</van-col>
    <van-col span="12" class="time">
      {{suggest.suggestTime}}
    </van-col>
  </van-row>
</template>

<script>
export default {
  name: 'SuggestCard',
  props: {
    suggest: Object
  }
}
</script>

<style lang="scss" scoped>
.suggest-box {
  background: #fff;
  display: flex;
  margin-top: 5px;
  padding: 10px;
}
.time {
  text-align: right;
}
</style>
