<template>
  <van-tabbar v-model="active">
    <van-tabbar-item icon="wap-home">
      <router-link to="/home" tag="div">
        <span>首页</span>
      </router-link>
    </van-tabbar-item>
    <van-tabbar-item icon="records">
      <!-- <router-link to="/order" tag="div"> -->
        <span @click="goOrderPage">订单</span>
      <!-- </router-link> -->
    </van-tabbar-item>
    <van-tabbar-item icon="contact">
      <router-link to="/me" tag="div">
        <span>我的</span>
      </router-link>
    </van-tabbar-item>
  </van-tabbar>
</template>

<script>
export default {
  name: 'Tabbar',
  data () {
    return {
      active: 0
    }
  },
  mounted () {
    this.change()
  },
  methods: {
    change () {
      const name = this.$route.name
      if (name === 'Home') {
        this.active = 0
      } else if (name === 'Me') {
        this.active = 2
      } else {
        this.active = 1
      }
    },
    goOrderPage () {
      const role = localStorage.getItem('role')
      if (parseInt(role) === 1) {
        this.$router.push({ name: 'Order' })
      } else {
        this.$router.push({ name: 'ParOrder' })
      }
    }
  }
}
</script>

<style>

</style>
