<template>
  <div class="admin">
    <van-nav-bar title="管理界面" fixed
    >
    </van-nav-bar>
    <van-cell-group style="marginTop: 20px;">
      <van-cell title="学生审核" is-link to="/admin/check" />
      <van-cell title="意见反馈" is-link to="/admin/suggest" />
    </van-cell-group>
  </div>
</template>

<script>
export default {
  name: 'Admin',
  data () {
    return {}
  },
  methods: {
    back () {
      this.$router.go(-1)
    }
  }
}
</script>
<style lang="scss" scoped>
.admin {
  padding-top: 46px;
  background: #f2f2f2;
  min-height: 100vh;
  font-size: 14px;
}
</style>
