<template>
  <div class="admin-check">
    <van-nav-bar title="全部学生" fixed left-arrow
      @click-left="back"
    />
    <van-tabs v-model="status" sticky>
      <van-tab
        v-for="item in menu" :title="item"
        :key="item"
      >
        <div class="tab-content">
          <van-pull-refresh v-model="loading2" @refresh="onRefresh" style="minHeight: 100vh;">
            <!-- <van-list
              v-model="loading"
              :finished="finished"
              @load="onLoad"
            > -->
              <p v-if="list.length === 0">暂无数据</p>
              <stu-check-card
                :user="item"
                v-for="item in list"
                :key="item.stuUserID"
                @operate="operate"
                v-else
              />
            <!-- </van-list> -->
          </van-pull-refresh>
        </div>
      </van-tab>
    </van-tabs>
  </div>
</template>

<script>
import API from '@/utils/api'
import StuCheckCard from '@/components/StuCheckCard'
export default {
  name: 'AdminCheck',
  data () {
    return {
      result: [],
      loading: false,
      loading2: false,
      finished: false,
      menu: ['待审核', '审核通过', '冻结中'],
      status: 0
    }
  },
  mounted () {
    this.getData()
  },
  computed: {
    list () {
      let status = this.status
      if (status === 0) {
        status = 1
      } else if (status === 1) {
        status = 2
      } else {
        status = -1
      }
      return this.result.filter(item => {
        return item.freeze === status
      })
    }
  },
  components: { StuCheckCard },
  methods: {
    back () {
      this.$router.go(-1)
    },
    // onLoad () {
    //   setTimeout(() => {
    //     for (let i = 0; i < 10; i++) {
    //       this.list.push(this.list.length + 1)
    //     }
    //     this.loading = false

    //     if (this.list.length >= 40) {
    //       this.finished = true
    //     }
    //   }, 500)
    // },
    onRefresh () {
      this.loading2 = true
      this.getData()
    },
    getData () {
      this.axios.get(API.getUsers).then(data => {
        this.result = data.map(function (item, idx) {
          return { ...item, idx }
        })
        this.loading2 = false
      }).catch(e => {
        this.loading2 = false
      })
    },
    // 数据更新
    operate (idx, freeze) {
      let stu = this.result[idx]
      stu.freeze = freeze
      this.$set(this.result, idx, stu)
    }
  }
}
</script>

<style lang="scss" scoped>
.admin-check {
  padding-top: 46px;
  background: #f2f2f2;
  min-height: 100vh;
  font-size: 14px;
  .van-nav-bar .van-icon {
    color: $themeColor;
  }
  .tab-content {
    min-height: 100vh;
  }
  p {
    text-align: center;
    margin-top: 10px;
  }
}
</style>
