<template>
  <div class="admin-suggest">
    <van-nav-bar title="意见反馈" fixed left-arrow
      @click-left="back"
    >
    </van-nav-bar>
    <!-- <van-list
      v-model="loading"
      :finished="finished"
      @load="onLoad"
    > -->
      <suggest-card v-for="item in result" :key="item.suggestID" :suggest="item" />
    <!-- </van-list> -->
  </div>
</template>

<script>
import API from '@/utils/api'
import SuggestCard from '@/components/SuggestCard'
export default {
  name: 'AdminSuggest',
  data () {
    return {
      list: [],
      result: [],
      loading: false,
      finished: false
    }
  },
  mounted () {
    this.getData()
  },
  components: {SuggestCard},
  methods: {
    back () {
      this.$router.go(-1)
    },
    onLoad () {
      setTimeout(() => {
        for (let i = 0; i < 10; i++) {
          this.list.push(this.list.length + 1)
        }
        this.loading = false

        if (this.list.length >= 40) {
          this.finished = true
        }
      }, 500)
    },
    getData () {
      this.axios.get(API.getSuggests).then(data => {
        this.result = data
      })
    }
  }
}
</script>

<style lang="scss">
.admin-suggest {
  padding-top: 46px;
  background: #f2f2f2;
  min-height: 100vh;
  font-size: 14px;
  .van-nav-bar .van-icon {
    color: $themeColor;
  }
}
</style>
