<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style lang="scss">
// @import '../styles/normalize.min.css';
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}
* {
  box-sizing: border-box;
}
p, h1, figure {
  margin: 0;
}
li {
  list-style: none;
}
/* 弹性滚动 */
.content{
  height:100vh;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;/*滚动touch*/
}
.text-1 {
  font-size: 14px;
  color: rgb(51, 51, 51);
}
.text-2 {
  font-size: 12px;
  color: #555;
}

// 重置样式
.van-tabbar-item--active, .van-nav-bar__text, .van-nav-bar .van-icon {
  color: $themeColor !important;
}
.van-picker__cancel, .van-picker__confirm {
  color: $themeColor !important;
}
.van-switch--on {
  background-color: $themeColor !important;
}
.van-button--large {
  height: 42px !important;
  line-height: 42px !important;
}
.van-checkbox--checked {
  border-color: $themeColor !important;
  background-color: $themeColor !important;
}
.van-checkbox__icon {
  width: 15px !important;
  height: 15px !important;
  line-height: 15px !important;
}
</style>
